<div class="container">
  <section id="welcome_sect">
    <h1 id="title_text">Rug<br />&Roll</h1>
    <p id="szlogen">
      "Varázsolj otthonodba melegséget <br />- fedd be stílusosan!"
    </p>
  </section>
  <section id="content_sect">
    <h1>Miért válassz minket?</h1>
    <div>
      <h3>Mert szőnyegeink különlegesebbek, mint gondolnád!</h3>
      <p>
        Minden szőnyegünk Easy Clean vagy más néven Aqua Clean szennytaszító
        bevonattal rendelkezik. Az Aqua Clean egy olyan új és modern
        technológia, mely során a szövetszálakat egy speciális védőréteggel
        borítják, aminek köszönhetőn a foltok és a szennyeződések egyszerűen nem
        tudnak mélyen behatolni a szálak közé. Ennek eredményeképpen korábban
        soha nem tapasztalt egyszerűséggel és könnyedséggel távolíthatóak el a
        szőnyeg felületéről a szennyeződések.
      </p>
      <p>
        A nagy reggeli rohanásban véletlenül ráborítottad a kávédat a kedvenc
        szőnyegedre? Semmi probléma! Az Auqa Clean technológiának köszönhetően
        csupán egy kis vízre és néhány percre van szükséged, hogy maradéktalanul
        eltávolíthasd a makacs kávéfoltot!
      </p>
      <button type="button" id="explore_btn" [routerLink]="'/gallery'">
        Fedezd fel most!
      </button>
    </div>

    <div>
      <h3>Milyen szennyeződések ellen véd az Aqua Clean technológia?</h3>
      <p>
        Kávé, üdítők, tea, ketchup, mustár, szószok, bor, csokoládé, zsírkréta,
        zsíros szennyeződések, sár, sőt még a szőnyegre borított olaj is
        könnyedén eltüntethető néhány mozdulattal!
      </p>
      <p>
        Ráadásul a kis házi kedvenceidtől sem kell óvnod a szőnyegeidet! A házi
        kedvencek szőre a szőnyeg felületéről egyszerűen felporszívózható, mert
        a védőbevonatnak köszönhetően a szőrszálak sem jutnak mélyen a szőnyeg
        szálai közé. Ha kis kedvenced betegeskedik és az esti séta után
        véletlenül mégiscsak a szőnyegre végzi a dolgát, akkor sem kell kétségbe
        esni, mert a védőbevonat ebben az esetben is megakadályozza a
        szennyeződés szálakba jutását, így egyszerűen és gyorsan megtisztíthatod
        a szőnyeget az esti lefekvés előtt.
      </p>
    </div>
  </section>
  <section id="form_sect">
    <h1 id="reg_log">Csatlakozz hozzánk!</h1>
    <div class="form_cont" id="forms">
      <div class="forms">
        <div class="login_form">
          <h2>Üdv újra!</h2>
        </div>
        <div class="reg_form">
          <h2>Most jársz itt először?</h2>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="input_div">
              <input
                type="text"
                formControlName="email"
                placeholder="E-Mail"
                class="signup_input"
              />
            </div>
            <div formGroupName="name">
              <div class="input_div">
                <input
                  type="text"
                  formControlName="firstname"
                  placeholder="Vezetéknév"
                  class="signup_input"
                />
              </div>
              <div class="input_div">
                <input
                  type="text"
                  formControlName="lastname"
                  placeholder="Keresztnév"
                  class="signup_input"
                />
              </div>
            </div>
            <div class="input_div">
              <input
                type="password"
                formControlName="password"
                placeholder="Jelszó"
                class="signup_input"
              />
            </div>
            <div class="input_div">
              <input
                type="rePassword"
                formControlName="rePassword"
                placeholder="Jelszó újra"
                class="signup_input"
              />
            </div>
            <div class="input_div">
              <button type="submit" id="signup_btn">Regisztráció</button>
            </div>
          </form>
        </div>
        <div class="form_img"></div>
      </div>
    </div>
  </section>
</div>
