<div class="container">
  <section class="contacts">
    <h1>Rug&Roll Szőnyeg Webáruház</h1>
    <h3>1139 Budapest, Röppentyű utca 61.</h3>
    <h3>+36307436955</h3>
    <h3>hello [kukac] rugandroll.hu</h3>

    <ul>
      <li>
        <a href="https://www.facebook.com/rugandrollbudapest/" target="_blank"
          ><mat-icon svgIcon="facebook" class="svg_social"></mat-icon
        ></a>
      </li>
      <li>
        <a href="https://www.instagram.com/rugandrollbudapest/" target="_blank"
          ><mat-icon svgIcon="instagram" class="svg_social"></mat-icon
        ></a>
      </li>
    </ul>
  </section>
</div>
