<div class="container">
  <section id="gallery_container">
    <h1>Szőnyegek</h1>
    <div id="sort">
      <h5>Termék: &nbsp;&nbsp;&nbsp;&nbsp; {{ sum }} db</h5>
      <h5>
        Rendezés: &nbsp;&nbsp;&nbsp;&nbsp;
        <select name="" id="filter">
          <option value="az" selected>Név szerint (A-Z)</option>
          <option value="za">Név szerint (Z-A)</option>
          <option value="arnov">Ár szerint növekvő</option>
          <option value="arcsokk">Ár szerint csökkenő</option>
        </select>
      </h5>
    </div>
    <div class="items">
      <div class="item" *ngFor="let product of productObject">
        <div class="fav_item">
          <mat-icon svgIcon="heart" class="fav_item_ic"></mat-icon>
        </div>
        <div class="carpet_img">
          <img src="{{ product.img }}" alt="" />
        </div>
        <br />
        <h6>
          {{ product.title }}
        </h6>
        <h6 class="price_h6">{{ product.price }} <span class="ft">Ft</span></h6>
        <button type="button" class="more_btn" (click)="loadItem()">
          RÉSZLETEK
        </button>
      </div>
    </div>
  </section>
</div>
