<div class="container">
  <section id="gallery_container">
    <h1>Szőnyegek</h1>
    <div id="sort">
      <h5>Termék: &nbsp;&nbsp;&nbsp;&nbsp; {{ sum }} db</h5>

      <mat-form-field appearance="fill">
        <mat-label>Rendezés</mat-label>
        <mat-select
          [(value)]="selected"
          (selectionChange)="onSelectChange($event.value)"
        >
          <mat-option value="nameAsc">Név szerint (A-Z)</mat-option>
          <mat-option value="nameDesc">Név szerint (Z-A)</mat-option>
          <mat-option value="priceAsc">Ár szerint(növekvő)</mat-option>
          <mat-option value="priceDesc">Ár szerint(csökkenő)</mat-option>
          <mat-option value="top3vol">Top 3 legsűrűbb</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="items">
      <div class="item" *ngFor="let product of productObject">
        <div class="fav_item">
          <mat-icon
            svgIcon="heart"
            class="fav_item_ic"
            [ngClass]="{
              'filled-heart': isProductInWishlist(product.id)
            }"
            (click)="toWishlist(userId, product)"
          ></mat-icon>
        </div>
        <div class="carpet_img">
          <img src="{{ product.img }}" alt="" />
        </div>
        <br />
        <h6>
          {{ product.title }}
        </h6>
        <h6 class="price_h6">{{ product.price }} <span class="ft">Ft</span></h6>
        <button type="button" class="more_btn" (click)="loadItem(product)">
          RÉSZLETEK
        </button>
      </div>
    </div>
  </section>
</div>
