<div class="container">
  <section>
    <div class="data_container">
      <div class="data">
        <h1 class="title_h1">{{ product.title }}</h1>
        <div class="img_and_data_cont">
          <div class="img_cont">
            <img src="{{ product.img }}" alt="" />
          </div>
          <div class="data_cont">
            <h3>Adatok:</h3>
            <mat-list role="list">
              <mat-list-item role="listitem"
                ><span>Méret:</span>{{ product.size }}</mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Szín:</span
                ><ng-container
                  *ngFor="let color of product.color; let last = last"
                >
                  {{ color }}{{ last ? "" : ", " }}
                </ng-container></mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Mintázat:</span>{{ product.pattern }}</mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Sűrűség:</span>{{ product.volume }} g/m²</mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Származási hely:</span>{{ product.from }}</mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Minősítés:</span>{{ product.quality }}</mat-list-item
              >
            </mat-list>
          </div>
        </div>
      </div>
      <div class="to_cart">
        <h2 class="price_h2">{{ product.price }}<span class="ft">Ft</span></h2>
        <div class="buttons">
          <button type="button" class="cart_btn" (click)="toCart(product)">
            KOSÁRBA
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
