<div class="container">
  <section>
    <div class="data_container">
      <div class="data">
        <h1 class="title_h1">
          BLUR S MODERN KÉK-MUSTÁRSÁRGA ABSZTRAKT MINTÁS FUTÓSZŐNYEG 80 X 200 CM
        </h1>
        <div class="img_and_data_cont">
          <div class="img_cont">
            <img
              src="https://www.rugandroll.hu/img/33928/RURO0044/440x440,r/BLUR-S-Modern-kek-mustarsarga-Absztrakt-mintas-futoszonyeg-80x200.webp?time=1679924957"
              alt=""
            />
          </div>
          <div class="data_cont">
            <h3>Adatok:</h3>

            <mat-list role="list">
              <mat-list-item role="listitem"
                ><span>Méret:</span>80x200cm</mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Szín:</span>kék, fekete, sárgászöld,
                törtfehér</mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Mintázat:</span>absztrakt</mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Sűrűség:</span>968 g/m²</mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Származási hely:</span>Törökország</mat-list-item
              >
              <mat-list-item role="listitem"
                ><span>Minősítés:</span>OEKO-TEX®100</mat-list-item
              >
            </mat-list>
          </div>
        </div>
      </div>
      <div class="to_cart">
        <h2 class="price_h2">39400 <span class="ft">Ft</span></h2>
        <div class="buttons">
          <button type="button" class="cart_btn">KOSÁRBA</button>
        </div>
      </div>
    </div>
  </section>
</div>
