section {
  width: 100%;
  min-height: calc(100vh - 5rem);
  position: relative;
  background-color: white;
  color: var(--blue);
}

h1 {
  width: 100%;
  height: fit-content;
  font-size: 2rem;
  color: var(--blue);
}

h2 {
  color: var(--orange);
  text-align: center;
  font-size: 2rem;
}

h2 .ft {
  color: var(--blue);
}

.data_container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.data {
  padding: 5rem 2% 0 2%;
  background-color: white;
}

.to_cart {
  padding: 5rem 2rem 0 2rem;
  background-color: var(--stone);
}

.buttons {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.qu {
  height: fit-content;
  border: 1px solid rgb(110, 110, 110);
  background-color: var(--white);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qu button {
  all: unset;
  width: 25px;
  height: 25px;
  font-size: 30px;
  margin: 0 auto;
  padding: 0;
  line-height: 0;
  text-align: center;
}

.qu button:hover {
  cursor: pointer;
}

.qu input[type="number"] {
  all: unset;
  height: 25px;
  width: 35px;
  padding: 5px;
  text-align: center;
}

.cart_btn {
  margin: 0;
  all: unset;
  background-color: var(--black);

  color: var(--white);
  text-align: center;
  text-decoration: none;
  height: 41px;
}

.cart_btn:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--black);
}

.img_and_data_cont {
  width: 100%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img_cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_cont img {
  height: 470px;
  width: 470px;
}

.data_cont {
  padding-top: 10%;
}

.data_cont h3 {
  color: var(--beige);
}

ul {
  list-style: none;
}

ul li {
  margin: 5px 0 5px 0;
}

ul li span {
  font-weight: bold;
  margin-right: 1rem;
}

@media screen and (max-width: 1200px) {
  .img_cont img {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 1050px) {
  .img_cont img {
    height: 320px;
    width: 320px;
  }
}

@media screen and (max-width: 850px) {
  .qu button {
    width: 20px;
  }

  .qu input[type="number"] {
    height: 25px;
    width: 25px;
  }

  .img_cont img {
    height: 270px;
    width: 270px;
  }

  .title_h1 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  .data_container {
    grid-template-columns: 1fr;
  }

  .to_cart {
    padding: 0rem 2% 0 2%;
  }

  h3 {
    font-size: 1.1rem;
  }

  ul li {
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 570px) {
  .img_and_data_cont {
    grid-template-columns: 1fr;
  }

  .data_cont {
    padding: 0;
  }

  .title_h1 {
    font-size: 1.25rem;
    margin: 0;
  }

  h3 {
    margin: 0;
  }
}
