<div class="container">
  <section>
    <div class="data_cont">
      <div class="data">
        <h1>
          BLUR S MODERN KÉK-MUSTÁRSÁRGA ABSZTRAKT MINTÁS FUTÓSZŐNYEG 80 X 200 CM
        </h1>
      </div>
      <div class="to_cart">
        <h2>39400 <span class="ft">Ft</span></h2>
        <div class="buttons">
          <div class="qu">
            <button type="button">-</button>
            <input type="number" min="1" value="1" />
            <button type="button">+</button>
          </div>
          <button type="button" class="cart_btn">KOSÁRBA</button>
        </div>
      </div>
    </div>
  </section>
</div>
