@font-face {
  font-family: Baskervville;
  src: url(assets/fonts/Baskervville-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Oswald;
  src: url(assets/fonts/Oswald-VariableFont_wght.ttf) format("truetype");
}

:root {
  /*
  --light-pink: #fdf1f1;
  --tea_rose: #dbb3b1;
  --rosy_brown: #c89fa3;
  --mountb_pink: #a67f8e;
  --liver: #6c534e;
  --licorice: #2c1a1d;
  */

  --white: #e6e6e6;
  --black: #142327;
  --beige: #b38c64;
  --grey: #71614d;
  --darkgrey: #464337;
  --blue: #374f57;
  --lightblue: #4d5e5e;
  --stone: #8a8c7e;
  --orange: #945420;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--black);
  font-family: Oswald;
  color: var(--white);
  font-size: 22px;
  text-decoration: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

/*
::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--beige);
  border-radius: 1rem;
  cursor: grab;
  border: 0.25em solid var(--grey);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey);
  transition: background-color 0.25s ease-in-out;
}
*/
