<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <mat-icon svgIcon="hamburger"></mat-icon>
  </label>
  <label for="" class="logo">Rug&Roll</label>
  <ul class="kkk">
    <li><a href="">Kezdőlap</a></li>
    /
    <li><a href="">Kínálat</a></li>
    /
    <li><a href="">Kapcsolat</a></li>
  </ul>

  <ul class="icon_ul">
    <li>
      <a href=""><mat-icon svgIcon="profile" class="ic"></mat-icon></a>
    </li>
    <li>
      <a href=""><mat-icon svgIcon="heart" class="ic"></mat-icon></a>
    </li>
    <li>
      <a href=""><mat-icon svgIcon="cart" class="ic"></mat-icon></a>
    </li>
  </ul>
</nav>
