<nav [ngClass]="{ specific: isGalleryRoute }">
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <mat-icon svgIcon="hamburger"></mat-icon>
  </label>
  <label for="" class="logo">Rug&Roll</label>
  <ul class="kkk">
    <li>
      <a href="" [routerLink]="'/home'" fragment="welcome_sect">Kezdőlap</a>
    </li>
    <li><a href="" [routerLink]="'/gallery'">Kínálat</a></li>
    <li><a href="" [routerLink]="'/contact'">Kapcsolat</a></li>
  </ul>

  <ul class="icon_ul">
    <li *ngIf="!loggedInUser">
      <a href="" [routerLink]="'/home'" fragment="forms"
        ><mat-icon svgIcon="profile" class="ic"></mat-icon
      ></a>
    </li>
    <li *ngIf="loggedInUser">
      <a href="" [routerLink]="'/home'" fragment="forms" (click)="logOut()"
        ><mat-icon svgIcon="logout" class="ic"></mat-icon
      ></a>
    </li>
    <li>
      <a href="" [routerLink]="'/favourites'"
        ><mat-icon svgIcon="heart" class="ic"></mat-icon
      ></a>
    </li>
    <li>
      <a href="" [routerLink]="'/gallery'"
        ><mat-icon svgIcon="cart" class="ic"></mat-icon
      ></a>
    </li>
  </ul>
</nav>
