<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <mat-icon svgIcon="hamburger"></mat-icon>
  </label>
  <label for="" class="logo">Rug&Roll</label>
  <ul class="kkk">
    <li>Kezdőlap</li>
    <li>Kínálat</li>
    <li>Kapcsolat</li>
  </ul>

  <ul class="icon_ul">
    <li><mat-icon svgIcon="profile" class="ic"></mat-icon></li>
    <li><mat-icon svgIcon="heart" class="ic"></mat-icon></li>
    <li><mat-icon svgIcon="cart" class="ic"></mat-icon></li>
  </ul>
</nav>
