<app-menu></app-menu>
<ng-template [ngIf]="page === 'home'">
  <app-home></app-home>
</ng-template>
<ng-template [ngIf]="page === 'gallery'">
  <app-gallery></app-gallery>
</ng-template>
<ng-template [ngIf]="page === 'item'">
  <app-item> </app-item>
</ng-template>
<ng-template [ngIf]="page === 'favourites'">
  <app-favourites> </app-favourites>
</ng-template>
<ng-template [ngIf]="page === 'contact'">
  <app-contact> </app-contact>
</ng-template>
<ng-template [ngIf]="page === 'admin'">
  <app-admin> </app-admin>
</ng-template>

<!-- <router-outlet></router-outlet> -->
